* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: navajowhite;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

h1 {
	text-align: center;
	font-size: 72px;
	font-weight: 400;
	font-family: cursive, arial;
	color: black;
}

.button {
	padding: 4px 8px;
	background-color: rgb(144, 148, 152);
	border: 3px solid rgb(57, 58, 60);
	font-size: 24px;
	font-family: monospace, serif;
	display: inline-flex;
}

.button:hover {
	background-color: hsla(212, 13%, 77%, 0.8);
	color: rgba(42, 42, 42);
}

.container {
	border: 5px solid mediumvioletred;
	background-color: white;
	width: 720px;
	height: 720px;
	display: flex;
	flex-direction: column;
}

.rows {
	flex: 1;
	display: flex;
}

.squares {
	border: 1px solid rgba(123, 123, 123, 0.516);
	flex: 1;
}

.squares:hover {
	background-color: black;
}
